<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/statics/assets/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/statics/assets/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>


<div class="ui container" style="padding-top: 50px" id="app">
    <div class="ui grid">
        <div class="eight wide column">
            <h2>Login Whatsapp</h2>
            <form class="ui form" id="formLogin">
                <div class="field">
                    <label for="app_id">Your App Name</label>
                    <div class="ui labeled input focus">
                        <input id="app_id" @keydown.enter.prevent="processLogin" type="text"
                               placeholder="Prefer App Name is Your Whatsapp phone..." v-model="app_id">
                    </div>
                </div>
                <button type="button" class="ui button green" @click="processLogin">Login</button>
            </form>

            <div style="padding-top: 20px" v-show="qrcode">
                <div class="ui success message">
                    <i class="close icon"></i>
                    <div class="header">
                        Refresh this browser after you scan qrcode
                    </div>
                    <p>this qrcode image only work in 10 seconds</p>
                </div>
            </div>
        </div>
        <div class="eight wide column" v-show="qrcode">
            <img id="qrcode" alt="qrcode" style="width: 500px" src="">
        </div>
    </div>

    <div class="ui horizontal divider">
        Credit by Aldino Kemal
    </div>

    <div class="ui grid">
        <div class="sixteen wide column">
            <h2>Signed In Account</h2>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>App ID</th>
                    <th>Phone</th>
                    <th>Last Login / QR Scan</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="n in signAccount">
                    <td>{% n.app_id %}</td>
                    <td>{% n.phone_id %}</td>
                    <td>{% n.created %}</td>
                    <td>
                        <div class="ui buttons">
                            <button class="ui green button" @click="openModalSend(n.app_id)">
                                <i class="envelope icon"></i>Text
                            </button>
                            <button class="ui orange button" @click="openModalImage(n.app_id)">
                                <i class="file image icon"></i>Image
                            </button>
                        </div>
                        <button class="ui red button" @click="processLogout(n.app_id)">Logout</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui tiny modal" id="modalSendText">
        <i class="close icon"></i>
        <div class="ui icon header">
            <img src="/statics/images/system/whatsapp.svg" alt="logo whatsapp" draggable="false"
                 style="max-width: 28px">
            <span>Send Text Message</span>
        </div>
        <div class="image content">
            <div class="">
                <form class="ui form">
                    <div class="field" style="width: auto">
                        <label for="send_text_to">To</label>
                        <div class="ui labeled input focus">
                            <div class="ui label">
                                62
                            </div>
                            <input id="send_text_to" type="text" placeholder="89685024091 (without space)"
                                   v-model="send_text_to">
                        </div>
                    </div>
                    <div class="field">
                        <label for="send_text_message">Message</label>
                        <textarea id="send_text_message" rows="2" v-model="send_text_message"></textarea>
                    </div>
                </form>

                <div class="ui header">Information</div>
                <p>Make sure your whatsapp is <b>connected to internet</b> and don't use it to spam people, or your
                    number will be banned</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" @click="processSendMessage">
                Send
                <i class="send icon"></i>
            </div>
        </div>
    </div>


    <div class="ui small modal" id="modalSendImage">
        <i class="close icon"></i>
        <div class="ui icon header">
            <img src="/statics/images/system/whatsapp.svg" alt="logo whatsapp" draggable="false"
                 style="max-width: 28px">
            <span>Send Image</span>
        </div>
        <div class="image content">
            <div class="ui medium image">
                <input id="send_image_image" type="file" alt="upload image" @change="displayImage">
                <img id="previewImage" src="" alt="preview image upload" draggable="false" style="visibility: hidden">
            </div>
            <div class="description">
                <form class="ui fluid form">
                    <div class="field">
                        <label for="send_text_to">To</label>
                        <div class="ui labeled input focus">
                            <div class="ui label">
                                62
                            </div>
                            <input id="send_image_to" type="text" placeholder="89685024091 (without space)"
                                   v-model="send_image_to">
                        </div>
                    </div>
                    <div class="field">
                        <label for="send_image_caption">Message</label>
                        <textarea id="send_image_caption" rows="2" v-model="send_image_caption"></textarea>
                    </div>
                </form>

                <div class="ui header">Information</div>
                <p>Make sure your whatsapp is <b>connected to internet</b> and don't use it to spam people, or your
                    number will be banned</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" @click="processSendImage">
                Send
                <i class="send icon"></i>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        delimiters: ['{%', '%}'],
        el: "#app",
        data: {
            app_id: "",
            qrcode: "",

            send_text_app: "",
            send_text_to: "",
            send_text_message: "",

            send_image_app: "",
            send_image_to: "",
            send_image_caption: "",

            signAccount: [],
        },
        created() {
            axios.defaults.headers.common['Authorization'] = 'Basic ' + btoa('{{.ba_u}}:{{.ba_p}}');
        },
        mounted() {
            this.getSignAcc()
        },
        methods: {
            openModalSend(app_id) {
                $('#modalSendText').modal('show');
                this.send_text_app = app_id
            },
            openModalImage(app_id) {
                $('#modalSendImage').modal('show');
                this.send_image_app = app_id
            },
            displayImage(data) {
                const file = data.target.files[0]
                const reader = new FileReader();
                reader.addEventListener("load", function () {
                    $("#previewImage").attr("src", reader.result)
                        .removeAttr('style')
                        .width('350px');
                }, false);
                if (file) reader.readAsDataURL(file);
            },
            getSignAcc() {
                axios.get("/app/home/get-account")
                    .then(response => {
                        if (response.status === 200) {
                            this.signAccount = response.data.results
                        }
                    })
            },
            processLogin() {
                axios.post("/app/login", {"app_id": this.app_id})
                    .then(response => {
                        this.qrcode = "/" + response.data.results.image
                        setTimeout(() => {
                            $("#qrcode").attr("src", this.qrcode)
                        }, 500)
                    })
                    .catch(err => {
                        alert(err.response.data.message)
                    })
            },
            processLogout(app_id) {
                axios.post("/app/logout", {app_id})
                    .then(() => this.getSignAcc())
            },
            processSendMessage() {
                let formData = {
                    app_id: this.send_text_app,
                    to: "62" + this.send_text_to,
                    message: this.send_text_message,
                }
                axios.post("/app/send/text", formData)
                    .then(() => {
                        this.getSignAcc()
                    })
                    .catch(err => {
                        console.log(err.response)
                        alert(err.response.data.message)
                    })
            },
            processSendImage() {
                let formData = new FormData()
                formData.append("app_id", this.send_image_app)
                formData.append("to", "62" + this.send_image_to)
                formData.append("caption", this.send_image_caption)
                formData.append("image", $("#send_image_image").prop('files')[0])

                axios.post("/app/send/image", formData)
                    .then(() => {
                        this.getSignAcc()
                    })
                    .catch(err => {
                        console.log(err.response)
                        alert(err.response.data.message)
                    })
            }
        }
    })

</script>
</body>
</html>